# Tạo file .env (copy từ file này) và điền thông tin Supabase của bạn
# File .env sẽ KHÔNG được commit lên git

VITE_SUPABASE_URL=https://aelxgbnkyqpeckzknemv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlbHhnYm5reXFwZWNremtuZW12Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxOTI5NDcsImV4cCI6MjA4ODc2ODk0N30.8jL7qazYaSsC5ebKVwda623CC8ObGWj5-5yHiVJhAZg
